* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "titiliumRegular";
  font-size: 15px;
  .bg-container {
    margin: 0 auto;
    background-color: #f5f4f5;
    max-width: 1440px;
  }
}

@font-face {
  font-family: "titiliumRegular";
  src: url(/assets/Fonts/TitilliumWeb-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "titiliumBold";
  src: url(/assets/Fonts/TitilliumWeb-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@keyframes pageUp {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@mixin transitionIn {
  animation: pageUp 1.39s;
}
